img {
  max-height: 400px;
  object-fit: contain;
  display: none;
}
.poster {
  background-color: white;
  height: 100%;
  border-radius: 1%;
}
/*MEDIA QUERIES*/
@media (min-width:20em) {
  /* smartphones width:320px */
}
@media (min-width:30em) {
  /* smaller tablets width:480px */
  img {
    display: block;
  }
}
@media (min-width:48em) {
  /* portrait tablets width:768px */
}
@media (min-width:61.25em) {
  /* tablet, landscape iPad, lo-res laptops ands desktops width:980px */
}
@media (min-width:75em) {
  /* big landscape tablets, laptops, and desktops width:1200px */
}
@media (min-width:120em) {
  /* hi-res laptops and desktops width:1920px */
}
